@import '../variables';

.header {
	border-bottom: 1px solid $gray-line;
	padding: 40px 0;

	@media (max-width: 645px) {
		padding: 15px 0;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 645px) {
			flex-direction: column;
			row-gap: 25px;
		}
	}

	&__logo {
		display: flex;

		@media (max-width: 645px) {
			flex-direction: column;
			align-items: center;

			p {
				text-align: center;
			}
		}

		img {
			margin-right: 15px;

			@media (max-width: 645px) {
				margin-right: 0;
			}

		}

		h1 {
			color: #181818;
			font-size: 24px;
			letter-spacing: 1%;
			text-transform: uppercase;
			font-weight: 800;
		}

		p {
			color: #7b7b7b;
		}
	}
}