@import '../../scss/components/variables';
@import '../../scss/components/normalize';

.categories {
	ul {
		display: flex;
		column-gap: 9px;

		@media (max-width: 611px) {
			overflow: scroll;
		}

		li {
			background-color: #f9f9f9;
			padding: 13px 30px;
			border-radius: 30px;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.1s ease-in-out;

			// @include noselect();
			@media (max-width: 1210px) {
				padding: 10px 15px;
			}

			&:hover {
				background-color: darken(#f9f9f9, 2%);
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
			}

			&.active {
				background-color: #282828;
				color: #fff;
			}
		}
	}
}