@import '../../scss/components/variables';
@import '../../scss/components/normalize';

.basket_empty {
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;

	h2 {
		font-size: 32px;
		margin-bottom: 10px;
	}

	p {
		font-size: 18px;
		line-height: 145.4%;
		letter-spacing: 0.01em;
		color: #777777;
	}

	img {
		display: block;
		max-width: 300px;
		height: auto;
		margin: 45px auto 75px;

		@media (max-width: 376px) {
			margin-bottom: 15px;
		}
	}

	@media (max-width: 1025px) {
		padding-top: 65px;

		h2 {
			font-size: 20px;
		}

		p {
			font-size: 15px;
		}
	}

	@media (max-width: 768px) {
		padding-top: 50px;
	}

	@media (max-width: 376px) {
		padding-top: 20px;

		h2 {
			font-size: 16px;
		}

		p {
			font-size: 12px;
		}
	}
}

.go_back_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 16px 26px;

	color: #CACACA;
	background: #fff;
	border: 1px solid #D3D3D3;
	border-radius: 30px;
	font-weight: 700;

	span {
		color: #CACACA;
	}

	&:hover {
		background-color: darken($color: $gray-line, $amount: 90);
		border-color: darken($color: $gray-line, $amount: 90);

		span {
			color: $gray-line;
		}
	}

	&:active {
		transform: translateY(2px);
	}

	@media (max-width: 768px) {
		padding: 12px 10px;
		font-size: 12px;
	}
}