.wrapper {
	position: relative;
	// left: -120px;
}

.icon {
	opacity: 0.4;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.input {
	border: 2px solid rgba(0, 0, 0, 0.1);
	padding: 8px 35px;
	padding-left: 45px;
	max-width: 400px;
	border-radius: 12px;
	font-size: 16px;

	&:focus {
		border: 2px solid rgba(0, 0, 0, 0.3);
	}
}

.clean {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	opacity: 0.4;
	width: 25px;
	height: 25px;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}