.wrapper {
	position: relative;
	// left: -120px;
	flex: 0 1 40%;
}

.icon {
	opacity: 0.4;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.input {
	border: 2px solid rgba(0, 0, 0, 0.1);
	padding: 8px 35px;
	padding-left: 45px;
	border-radius: 12px;
	font-size: 16px;
	width: 100%;

	&:focus {
		border: 2px solid rgba(0, 0, 0, 0.3);
	}

	// @media (max-width: px) {}
}

.clean {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	opacity: 0.4;
	font-size: 32px;
	font-weight: 800;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}