.search {
	flex-basis: 33%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;


	&__icon {
		position: absolute;

		opacity: 0.4;
		width: 25px;
		height: 25px;
		transform: translateX(50%);
	}

	&__input {
		padding: 8px 35px;
		padding-left: 45px;
		border-radius: 12px;
		font-size: 16px;
		width: 100%;
		outline: none;
		border: 2px solid transparent;
		background-color: #f9f9f9;

		&:hover,
		&:focus {
			background-color: #fff;
			box-shadow: 0 0 0 2px #fe5f1e;
		}

		&:placeholder {
			color: #9e9ea7;
			font-weight: bold;
		}
	}

	&__clean {
		position: absolute;
		right: 0;
		transform: translateX(-50%);
		opacity: 0.4;
		font-size: 32px;
		font-weight: 800;
		cursor: pointer;

		&:hover {
			opacity: 1;
			outline: none;
		}
	}
}