@import '../../scss/components/variables';
@import '../../scss/components/normalize';

.pizza_block {
	width: 280px;
	text-align: center;

	&_wrapper {
		display: flex;
		justify-content: center;
	}

	&__image {
		width: 260px;
	}

	&__title {
		font-size: 20px;
		font-weight: 900;
		letter-spacing: 1%;
		margin-bottom: 20px;
	}

	&__selector {
		display: flex;
		background-color: #f3f3f3;
		border-radius: 10px;
		flex-direction: column;
		padding: 6px;

		ul {
			display: flex;
			flex: 1;

			&:first-of-type {
				margin-bottom: 6px;
			}

			li {
				padding: 8px;
				flex: 1;
				cursor: pointer;
				font-weight: 600;
				font-size: 14px;
				@include noselect();

				&.active {
					background: #ffffff;
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
					border-radius: 5px;
					cursor: auto;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
	}

	&__price {
		font-weight: bold;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: 0.015em;
	}
}

.button_add {
	display: inline-block;
	background-color: $orange;
	border-radius: 30px;
	padding: 10px 20px;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
	transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
	border: 1px solid transparent;
	@include noselect();
	background-color: #fff;
	border-color: $orange;

	&,
	span {
		color: $orange;
		font-weight: 600;
		font-size: 16px;
	}

	i,
	span,
	path,
	svg {
		transition: all $duration ease-in-out;
	}

	i {
		display: inline-block;
		border-radius: 30px;
		background-color: $orange;
		color: #fff;
		font-weight: 600;
		width: 22px;
		height: 22px;
		font-style: normal;
		font-size: 13px;
		line-height: 22px;
		position: relative;
		top: -1px;
		left: 3px;
	}

	&:hover {
		background-color: $orange;

		&,
		span {
			color: #fff;
		}

		svg {
			path {
				fill: #fff;
			}
		}

		i {
			background-color: #fff;
			color: $orange;
		}
	}

	&:active {
		background-color: darken($orange, 8%);
		transform: translateY(1px);
	}

	svg {
		margin-right: 2px;

		path {
			fill: $orange;
		}
	}
}