@import '../../scss/components/variables';
@import '../../scss/components/normalize';

.basket {
	&__item {
		flex: 1 1 100%;
		display: flex;
		align-items: center;
		gap: 5px;

		border-top: 1px solid $gray-line;
		padding: 30px 0;

		&_img {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 1 10%;

			margin-right: 10px;

			img {
				max-width: 80px;
				max-height: 80px;
			}

			@media (max-width:426px) {
				margin-right: 0;
			}
		}

		&_info {
			flex: 1 1 35%;

			display: flex;
			flex-direction: column;
			justify-content: center;

			// margin-right: 63px;

			h3 {
				font-weight: bold;
				font-size: 22px;
				line-height: 27px;
				letter-spacing: 0.01em;

			}

			p {
				font-size: 18px;
				color: #8d8d8d;
			}

			@media (max-width: 799px) {
				h3 {
					font-size: 20px;
					line-height: 22px;
				}

				p {
					font-size: 16px;
					color: #8d8d8d;
				}
			}

			@media (max-width: 600px) {
				h3 {
					font-size: 12px;
					line-height: 15px;
				}

				p {
					font-size: 10px;
				}
			}
		}

		&_count {

			flex: 1 1 13%;

			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 12px;

			&_minus,
			&_plus,
			&_remove {
				cursor: pointer;
				background: #FFFFFF;
				border-radius: 50%;

				width: 32px;
				height: 32px;

				display: flex;
				align-items: center;
				justify-content: center;

				font-size: 25px;
				font-weight: 700;
				border-radius: 50%;


				@media (max-width:900px) {
					font-size: 20px;
				}

				@media (max-width: 600px) {
					font-size: 12px;
					width: 20px;
					height: 20px;
				}

				@media (max-width:426px) {
					width: 18px;
					height: 18px;
				}
			}

			&_minus,
			&_plus {
				color: #fe5f1e;
				border: 2px solid #FE5F1E;

				&:hover {
					color: #FFFFFF;
					background-color: #fe5f1e;
				}

				&:active {
					transform: translateY(2px)
				}

				&:disabled {
					opacity: 0.2;
					color: #8d8d8d;

					&:hover {
						background-color: transparent;
					}

					&:active {
						transform: none;
					}
				}
			}

			&_remove {
				flex: 1 1 5%;

				color: #D7D7D7;
				border: 2px solid #D7D7D7;

				&:hover {
					background-color: black;
					transition: all 0.2s ease-out;
					border: none;
				}

				&:active {
					transform: translateY(2px);
					border: none;
				}

			}

			b {
				font-size: 22px;

				@media (max-width:899px) {
					font-size: 20px;
				}

				@media (max-width: 600px) {
					font-size: 12px;
				}
			}
		}
	}

	&__price {
		flex: 1 1 30%;

		display: flex;
		align-items: center;
		justify-content: center;

		b {
			font-weight: bold;
			font-size: 22px;
			letter-spacing: 0.01em;

			@media (max-width: 899px) {
				line-height: 10px;
				font-size: 20px;
			}

			@media (max-width: 600px) {
				font-size: 12px;
			}
		}
	}
}